
nav{
  height: 120px;
  width: 100%;
  z-index: 5;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #ffffff;
  margin: 1.5ems;
  padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.navbar-logo {
  float: left;
}

.navbar-write {
  float: right;
}