
.tweetbutton {
  position: relative;
  float: left;
  top: 50px;
  padding: 2px;
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', cursive;
}

.counter {
  position: relative;
  float: right;
  top: 50px;
  left: 170px;
  font-family: 'Bungee', cursive;
}

.textbox {
  background: rgba(255,255,255,0.4);
  border-bottom: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-color: #545149;
  position: relative;
  display: block;
  outline: none;
  width: 180%;
  height: 30p;
  top: 30px;
  margin: 0 auto;
  padding: 10px;
  color: #545149;
  background-color: #f4f1ec;
}